<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Agregar producto</title>
</head>

<body>
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-6 p-5 shadow">
                <h1 class="text-center">Agregar producto</h1>
                <form method="post">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <!-- Me genera todos los inputs del forms.py dentro de etiquetas <p> -->
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary mt-3" style="width: 10%; height: 80%;" type="submit">Registrar</button>
                        </div>
                        <button class="btn btn-primary mt-4" style="width: 30%;" onclick="window.location.href='/productos/ver/'">Ver productos</button>
                    </div>
                </form>
                <p class="text-center mt-3" id="mensaje">
                     <a href="{% url 'ver' %}">Volver</a></p>
                     
            </div>
            <div class="col-6 p-5 shadow">
                <h1 class="text-center">Lista de productos</h1>
                <div id="productos">

                </div>

            </div>
        </div>
    </div>
    <script>
        var form = document.getElementById('productoForm');
        form.addEventListener('submit', function(event) {
            // que no se va a amandar el form a la vista que se manda por defecto
            event.preventDefault();

            //Necesito la informacion del form
            let formData = new FormData(this);

            //convertit el formdata a un objeto json
            let jsonData = {};
            // En este contexto el value es el valor del input y el key es el nombre del input
            formData.forEach((value, key) => {
                jsonData[key] = value;
                //'nombre': 'valor' 

                //Enviar esta informacion al endpoint
                fetch('/productos/api/post/', {
                    method: 'POST',
                    body: JSON.stringify(jsonData),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => response.json())
                .then(data => {
                    document.getElementById('mensaje').innerText = data.mensaje;
                    //cargar los productos
                    cargarProductos();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });

        // Fucnion para obtener el csrf token en js
        function getToken(){
            let cookieValue = null
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                    cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                    break;
                }
            }
            return cookieValue;
        }
    </script>
    <script>
        //Las funciones asincronas de fetch con then
        function cargarProductos(){
            //JS se va a intentar conectar con el end-point
            fetch('/productos/api/get/')
                .then(response => response.json())
                .then(data => {
                    let productosDiv = document.getElementById('productos');
                    //Borrar el contenido
                    productosDiv.innerHTML=''
                    data.forEach(producto => {
                        productosDiv.innerHTML += 
                        `
                        <div class="row  align-items-center">
                            <div class="col-6 d-flex justify-content-end">
                            <h5><strong>${producto.nombre}</strong> - $ ${producto.precio}</h5>
                            </div>
                            <div class="col-6">
                            <img src="${producto.imagen}" class="ms-2" alt="X" width="100"/>
                            </div>   
                        </div>
                        `
                    });
                })
                .catch(error => console.error('Error: ', error))
        }

        cargarProductos();
    </script>
</body>

</html>